@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize-css/sass/components/color-variables";
@import "github-fork-ribbon-css/gh-fork-ribbon.css";
$primary-color: color("teal", "base") !default;
@import 'materialize-css';


body>div.container {
  width:90%;
}

#bugreport {
  font-size: 3em;
}
.brand-logo {
  margin: 15px
}
h1 {
  margin:0
}

.tab-content .code,
.input-field {
  height: 60vh;
}

#editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}